<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="background: maroon;" class="example-toolbar">
        <mat-card class="search-container">
        </mat-card>
        <h1>Team Wave Assignment 1</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav-content>
            <app-search></app-search>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>