.display-flex-row{
    display: flex;
    flex-wrap: wrap;
}

.display-centre{
    justify-content: center;
}

.gap{
    margin: 10px;
}

.grow{
    flex: 1 0 95%;
}

.pointer{
    cursor: pointer;
}
.margin{
    margin: 22px;
}